.card--container{
    display: flex;
    flex-direction: column;
    width: 25%;
    text-align: start;
    font-family: "poppins";
    
   
}
.image--container{
    position: relative;
    background-color: rgb(226, 226, 226);
    padding: .6em;
    text-align: center;
    cursor: pointer;
}

.book-cover{
    width: 10rem;
    align-self: center;
}

.title{
    padding-top: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0;
}

.author{
    padding-top: .5rem;
    font-size: .8rem;
    font-weight: 400;
    
}
.description{
    font-size: .7rem;
    font-weight: 400;
}

.order--section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price{
    margin: 0;
    font-weight: 500;
    
}

.cta--button{
    background-color: white;
    border: 1px solid black;
    border-radius: 2rem;
    padding-inline: .8rem;
    padding-block: .1rem;
    font-size: .8rem;
    font-weight: 500;
}

.heart{
    image-rendering: inherit;
    position: absolute;
    top: 0;
    right: 5px;
    cursor: pointer;
    
}

.heart img{
    width: 2rem;
    height: 2rem;
}

.heart-checkbox{
    display: none;
}